{{!-- {{> header }} --}}


<h1>Beard Products Dashboard</h1>

{{!-- Display each product --}}
{{#each products}}
  <div class="product">
    <h3>{{this.name}}</h3>
    <p>{{this.description}}</p>
   ->
  </div>
{{/each}}


