<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/css/file.css">
</head>
<body>
    <main>
        <h1>Welcome to The Beard Store!</h1>
        <form action="/auth/login" method="POST">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="text" id="email" name="email">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password">
            </div>
            <button type="submit">Login</button>
        </form>
        <p><a href="/auth/github">Sign in with GitHub</a></p>
        <p>Don't have an account? <a href="/auth/register">Register here</a></p>
    </main>
</body>
</html>
