<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Éxito en la Orden</title>
    <link rel="stylesheet" href="/css/file.css">
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            alert('Gracias por comprar, acá está tu número de orden: {{orderId}}');
        });
    </script>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/cart">
                        <i class="fas fa-shopping-cart"></i>
                        Carrito
                    </a>
                </li>
                <li><a href="/auth/logout">Cerrar Sesión</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Gracias por tu compra</h1>
        <p>Tu número de orden es: {{orderId}}</p>
        <button onclick="window.location.href='/dashboard'">Volver al Dashboard</button>
    </main>
</body>
</html>
