<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error de Registro</title>
</head>
<body>
    <h1>Error de Registro</h1>
    <p>El usuario ya existe. Por favor, intenta con otro correo electrónico o inicia sesión.</p>
    <a href="/register">Volver a la página de registro</a>
    <br>
    <a href="/login">Ir a la página de inicio de sesión</a>
</body>
</html>
